{% extends "admin_header.html" %}
{% block container %}
{% load static %}

<div class="p-2"></div>

<section class="bg-home d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-lg-5 col-md-6">
                <div class="card login-page bg-white shadow rounded border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center">Admin Login</h4>  
                        <form class="login-form mt-4" method='post'>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">Your Email <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                            <input type="email" class="form-control ps-5" placeholder="Email" name="emailid" id="emailid" required="">
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label class="form-label">Password <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="key" class="fea icon-sm icons"></i>
                                            <input type="password" class="form-control ps-5" placeholder="Password" id='Password'  name='Password' required="">
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12">
                                    <div class="d-flex justify-content-between">
                                        <div class="mb-3">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">Remember me</label>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-12 mb-0">
                                    <div class="d-grid">
                                        <input type="submit" value="Sign in" class="btn btn-primary" id='submitbtn' name='submitbtn'>
                                    </div>
                                </div>
                                
                            </div><!--end row-->
                        </form>
                    </div>
                </div><!---->
            </div> <!--end col-->
            <div class="col-lg-7 col-md-6">
                <div class="me-lg-5">   
                    <img src='{% static "images/login.jpg" %}' class="img-fluid d-block mx-auto" alt="">
                </div>
            </div>
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->

{% endblock container %}

    