{% extends "header.html" %}
{% block container %}
{% load static %}

<div class="p-2"></div>
 <!-- Hero Start -->
 <section class="bg-auth-home d-table w-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">
                <div class="me-lg-5">   
                    <img src='{% static "images/signup.svg" %}' class="img-fluid d-block mx-auto" alt="">
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="card shadow rounded border-0">
                    <div class="card-body">
                        <h4 class="card-title text-center">Signup</h4>  

                        <form action="" method="post" id='submit_newuser' class="login-form mt-4">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">First name <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="user" class="fea icon-sm icons"></i>
                                            <input type="text" class="form-control ps-5" placeholder="First Name" id="fname" name="fname" required="">
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-md-6">
                                    <div class="mb-3"> 
                                        <label class="form-label">Last name <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="user-check" class="fea icon-sm icons"></i>
                                            <input type="text" class="form-control ps-5" placeholder="Last Name" id="lname" name="lname" required="">
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Your Email <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="mail" class="fea icon-sm icons"></i>
                                            <input type="email" class="form-control ps-5" placeholder="Email" id="emailid" name="emailid" required="">
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Password <span class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i data-feather="key" class="fea icon-sm icons"></i>
                                            <input type="password" class="form-control ps-5" placeholder="Password" name='Password' id='Password' required="">
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">I Accept <a href="#" class="text-primary">Terms And Condition</a></label>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-md-12">
                                    <div class="d-grid">
                                        <input type="submit" name='submit_newuser_btn' id='submit_newuser_btn' value="Register"  class="btn btn-primary" >
                                    </div>
                                </div>
                                
                                <div class="mx-auto">
                                    <p class="mb-0 mt-3"><small class="text-dark me-2">Already have an account ?</small> <a href="/login/" class="text-dark fw-bold">Sign in</a></p>
                                </div>
                            </div><!--end row-->
                        </form>
                        
                        <script type='text/javascript'>
                            $('#submit_newuser').on('submit',function (e) {
                            console.log("Success");
                            e.preventDefault();
                            $.ajax({
                                type: 'POST',
                                url: '/new_user_ajax/',
                                data: $('#submit_newuser').serialize(),
                                success: function () {
                                    swal({
                                        title: "New User Created!",
                                        text: "Welcome to E-Learn online courses",
                                        icon: "success",
                                        }).then(function () {
                                                window.location.reload();
                                        });
                                    }, 
                                    error: function () {
                                    swal({
                                        title: "Error!",
                                        text: "Error While Creating New User!",
                                        icon: "error",
                                        }).then(function () {
                                                window.location.reload();
                                        });
                                    },
                                });
                            });

                        </script>
                        
                       
                    </div>
                </div>
            </div> <!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->


<!-- Hero End -->

{% endblock container %}

