{% extends "header.html" %}
{% block container %}
{% load static %}

<div class="p-2"></div>




<section class="section pb-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="tiny-single-item">
                    <div class="tiny-slide"><img src='{% static "images/course_images/" %}{{course_data.0.CourseImage}}' class="img-fluid rounded" alt=""></div>
                </div>
            </div><!--end col-->

            <div class="col-md-7 mt-4 mt-sm-0 pt-2 pt-sm-0">
                {% for i in course_data %}
                <div class="section-title ms-md-4">
                    <h4 class="title">{{course_data.0.CourseName}}</h4>
                    <h5 class="text-muted">${{course_data.0.OfferPrice}} <del class="text-danger ms-2">${{course_data.0.ActualPrice}}</del> </h5>
                    <ul class="list-unstyled text-warning h5 mb-0">
                        <li class="list-inline-item"> <i class="fa fa-star"></i> </li>
                        <li class="list-inline-item"> <i class="fa fa-star"></i> </li>
                        <li class="list-inline-item"> <i class="fa fa-star"></i> </li>
                        <li class="list-inline-item"> <i class="fa fa-star"></i> </li>
                        <li class="list-inline-item"> <i class="fa fa-star"></i> </li>
                    </ul>
                    
                    
                  
                    <button class="btn btn-primary" id="pay-btn">Pay Now</button>
                    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                    <script>
                      var options = {
                        key: "{{ razorpay_merchant_key }}",
                         
                        amount: "{{ razorpay_amount }}",
                        currency: "{{ currency }}",
                         
                        name: "Paying to Elearn",
                         
                        order_id: "{{ razorpay_order_id }}",
                        callback_url: "{{ callback_url }}",
                      };
                       
                      var rzp1 = new Razorpay(options);
                       
                      document.getElementById("pay-btn").onclick = function (e) {
                        rzp1.open();
                        e.preventDefault();
                      };
                    </script>

                    </div>
                    
                    </div><!--end row-->

                  
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    {% endfor %}

    </div><!--end container-->

</section><!--end section-->


<div class="p-5 mt-5"></div>


{% endblock container %}

    